NODE_ENV=production
DISCORD_TOKEN=PUT_YOUR_DISCORD_BOT_TOKEN_HERE
MONGO_URI=mongodb://<USERNAME>:<PASSWORD>@<IP>:<PORT>/<DATABASE_NAME>?authSource=admin&directConnection=true
API_PORT=5000
COINBASE_API_KEY=PUT_YOUR_COINBASE_API_KEY_HERE